<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="portfolio html layout">
    <meta name="keywords" content="portfolio, web-design">
    <meta name="viewport" content="width=device-width,initial scale=1.0">
    <meta charset="utf-8">
    <link href="style.css" type="text/css" rel="stylesheet">
    <link href="table.css" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <title>Inquiries</title>
</head>
<body>
  <header>
    <div class="headingcenter">
      <h1> Admin Page</h1>
      <div class="navigation" id='navbar'>
      </div>
    </div>
  </header>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  <div id='inquiries'></div>

  <script type="text/babel" src="admin.js"></script>
  <script type="text/babel" src="navigation.js"></script>
</body>
</html>
