<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="portfolio html layout">
    <meta name="keywords" content="portfolio, web-design">
    <meta name="viewport" content="width=device-width,initial scale=1.0">
    <meta charset="utf-8">
    <link href="style.css" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <title>Muhammad Japanwala Resume</title>
</head>


    <!--Will be talking about my work experience -->
    <body>

      <header>
        <div class="headingcenter">
          <h1> Resume</h1>
          <div class="navigation" id='navbar'>
          </div>
        </div>
      </header>

      <div class="left">
      </div>
      <div class="right">
          <h3>CV Highlights</h3>
          <p>
              <ul>
                  <li>Finished HTML and CSS on Codecademy</li>
                  <li>York University Alumni.</li>
                  <li>Hardworker</li>
              </ul>
          </p>
          <h3>Professional Experience</h3>
          <h4 id="company-name">Town Of Richmond Hill</h4>
          <p id="job-title"><strong>Facility Operator</strong></p>
          <p id="job-responsibilities">Job Responsbilities</p>
          <p>
              <ul>
                  <li>Set up programs </li>
                  <li>Continuously check on pH levels of the pool </li>
                  <li>Clean up the community centre</li>
              </ul>
          </p>
          <h3>Educational Qualifications</h3>
          <ul>
              <li> Studying Full-stack at York University</li>
          </ul>
         <ul>
           <td>SPPS Graduate</td>
           <td>RHHS Graduate</td>
           <td>York University Economics Graduate</td>
              </ul>




          <h3>Certifications / Awards:</h3>
          <p>
              <ul>
                  <li>Tennis Certifications</li>

          </p>
          <div class= "personal-information">
          <h3>Personal Information:</h3>
          <li> I want to become a Full-Stack developer within a year.</li>
          </div>


      </div>
        <script type="text/babel" src="navigation.js"></script>
      </body>
      </html>
